/*estilo que se utiliza para que las secciones queden horizontales y no verticales.*/
.section{
    border: 2px solid black;
    box-sizing: border-box;

    float: left;
    width: 50%;
}
.contenedor-img{
    display: flex;
    justify-content: center;
}
.img-1{
    width: 350px;
    height: 250px;
}
.img-2{
    width: 350px;
    height: 250px;
}
/*clase para poner la imagen flotante con el texto.  Y agrega un borde con color negro y sombra rojo claro.*/
.img-float{
    float: left;
    margin-right: 20px;
    box-shadow: 0 6px 10px red;
    border: 2px solid #000000; 
    border-radius: 4px;
}
/*clase para el subrayado de los títulos.*/
.font-color{
    text-decoration: underline rgb(0, 200, 255);
}
/*No noto la diferencia en el cambio de letra, quizá no está funcionando.*/
body {
    font-family: 'Lato', sans-serif;
}