body {
    background-color: #4C5E58;
    color: white;
}

.index-title {
    padding-top: 50px;
}

h1 {
    font-family: "Protest Riot", serif;
}

/*estilo que se utiliza para que las secciones queden horizontales y no verticales.*/

.section{
    border: 2px solid black;
    box-sizing: border-box;
    background: linear-gradient(#04AA6D, #45DEA6);
    float: left;
    width: 50%;
}
ol.section li::marker{
    color: #896158;
}
ul.section li::marker{
    color: #896158;
}
.img-1{
    width: 350px;
    height: 250px;
}
.img-2{
    width: 350px;
    height: 250px;
}
/*clase para poner la imagen flotante con el texto.  Y agrega un borde con color negro y sombra rojo claro.*/
.img-float{
    float: left;
    margin-right: 20px;
    box-shadow: 0 6px 10px red;
    border: 2px solid #000000; 
    border-radius: 4px;
}
/*clase para el subrayado de los títulos.*/
.font-color{
    text-decoration: underline rgb(0, 200, 255);
}
/*No noto la diferencia en el cambio de letra, quizá no está funcionando.*/
body {
    font-family: 'Lato', sans-serif;
}

ul.nav_bar{
    position: fixed; /* Set the navbar to fixed position */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.nav_bar li{
    float: left;
}

ul.nav_bar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.nav_bar li a:hover{
    background-color: #111;
}

.active {
    background-color: #04AA6D;
}

.hover-section:hover {
    background-color: #e0e0e0; 
    cursor: pointer;
}
