/*estilo que se utiliza para que las secciones queden horizontales y no verticales.*/
.section{
    border: 2px solid black;
    box-sizing: border-box;

    float: left;
    width: 50%;
}
.contenedor-img{
    display: flex;
    justify-content: center;
}
.img-1{
    width: 350px;
    height: 250px;
}
.img-2{
    width: 350px;
    height: 250px;
}
/*clase para poner la imagen flotante con el texto.*/
.img-float{
    float: left;
    margin-right: 20px;
}
/*clase para el subrayado de los títulos.*/
.font-color{
    text-decoration: underline rgb(0, 200, 255);
}

